.orders-group {
    width: 42rem;
}

.orders-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total-order {
    font-family: "Raleway"
}

@media (max-width: 768px) {
    .orders-group {
        width: 23rem;
        margin-left: 2px;
    }

    .order-id {
        font-size: 24px;
    }

    .total-order {
        font-size: 24px;
    }
}