.coffee-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8em;
    justify-items: center;
    padding: 0 11rem;
    margin-top: 5rem;
}

.main-coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-coffee-name {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-price {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.coffee {
    width: 200px;
    height: 266px;
}

.coffee:hover {
    opacity: 0.8
}

ul {
    list-style: none;
}

.selections {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    margin-top: 5rem;
}

@media (max-width: 768px) {
    .coffee-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 0px ;
        grid-gap: 50px;
        padding-bottom: 40px;
    }

    .coffee {
        width: 130px;
        height: 130px;
    }
}