.cart-coffee {
    width: 106px;
    height: 137px;
    margin-left: 3rem;
}

.cart-coffee-name {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -8rem;
    padding-bottom: 40px;
}

.list-container {
    margin-top: 5rem;
}

.cart-price {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 75px;
    right: 35px;
    font-size: 20px;
}

.remove-btn {
    background: #000000;
    width: 68px;
    height: 30px;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}

/* hr {
    width: 1137px;
    border: 1px solid #000000;
    margin-top: 13rem;
} */

.top-line {
    width: 1137px;
    border: 1px solid #000000;
    margin-top: 13rem;
}

.bottom-line {
    width: 1137px;
    border: 1px solid #000000;
    margin-top: 13rem;
}

.img-name-price {
    display: flex;
    flex-direction: row;
    margin-bottom: -6rem;
}

.name-remove {
    margin-left: 10rem;
    margin-top: 5rem;
}

.user-cart-title {
    position: relative;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    top: 6rem;
}

.product-cart {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-top: 11rem;
    position: absolute;
    margin-left: 13rem;
}

.total-cart {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: right;
    margin-top: 11rem;
    position: absolute;
    margin-left: 75rem;
}

.quantity-cart {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: right;
    margin-top: 11rem;
    position: absolute;
    margin-left: 60rem;
}

.quantity-field {
    width: 65px;
    height: 39px;
    margin-right: 13rem;
    position: relative;
    bottom: 80px;
}

.quan-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.continue-btn {
    width: 209px;
    height: 67px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    margin-right: 2rem;
}

.checkout-btn {
    width: 180px;
    height: 67px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background: #000000;
    cursor: pointer;
    margin-right: -9rem;
}

.cart-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 18rem;
    margin-top: 4rem;
    padding-bottom: 40px;
}

.bottom-line {
    position: relative;
    margin-left: 10rem;
}

.your-cart-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.total-price {
    font-family: Raleway;
    margin-right: 9rem;
    margin-top: 4rem;
}

.bottom-cart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.empty-cart-text {
    font-family: "Raleway";
    font-size: 30px;
    font-weight: bold;
}

.empty-btn {
    width: 168px;
    height: 55px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background: #000000;
    cursor: pointer;
    margin-top: 2rem;
}

@media screen and (max-width: 668px) {
    .cart-container {
        margin-bottom: -3rem;
    }

    .cart-coffee {
        width: 100px;
        height: 70px;
    }

    .top-line {
        margin-left: 0.5rem;
        width: 350px;
        border: 1px solid #000000;
        margin-top: 7rem;
        margin-bottom: -3rem;
    }

    .bottom-line {
        margin-left: 1rem;
        width: 350px;
        border: 1px solid #000000;
        margin-top: 7rem;
        margin-bottom: -3rem;
    }

    .product-cart {
        display: none;
    }

    .quantity-cart {
        display: none;
    }

    .total-cart {
        display: none;
    }

    .total-price {
        margin-right: 7rem;
    }

    .name-remove {
        margin-left: 2rem;
        margin-top: 2rem;
    }

    .quan-price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: -4rem;
        margin-top: 2rem;
    }

    .quantity-field {
        width: 55px;
        height: 30px;
        position: relative;
        margin-top: 1rem;
        margin-right: 2rem;
    }

    .cart-coffee-name {
        font-size: 15px;
    }

    .img-name-price {
        margin-bottom: -5rem;
        display: flex;
        flex-direction: row;
    }

    .remove-btn {
        width: 50px;
        height: 20px;
        font-size: 10px;
    }

    .cart-price {
        position: relative;
        font-size: 20px;
        margin-left: -1rem;
        margin-top: 13px;
    }

    .cart-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 6.5rem;
    }

    .continue-btn {
        margin-left: 9rem;
        margin-bottom: 2rem;
        width: 109px;
        height: 50px;
    }

    .checkout-btn {
        width: 109px;
        height: 50px;
        font-size: 16px;
    }

    .empty-cart-text {
        font-size: 20px;
    }

    .empty-btn {
        width: 130px;
        height: 50px;
    }

    .break {
        word-wrap: break-word;
        display: block;
        white-space: normal;
        width: 70px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .product-cart {
        margin-left: 35rem;
    }

    .cart-titles {
        margin-left: -33rem;
    }

    .top-line {
        width: 740px;
    }

    .bottom-line {
        width: 740px;
        margin-left: 1rem;
    }

    .total-price {
        margin-right: 19rem;
    }

    .cart-buttons {
        margin-right: 20rem;
    }

    .name-remove {
        margin-left: 6rem;
        margin-top: 1rem;
    }

    .cart-price {
        bottom: -6px;
    }

    .quantity-field {
        margin-top: 5rem;
        margin-right: 11rem;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .bottom-line {
        margin-left: 4rem;
        width: 920px;
    }

    .cart-titles {
        margin-left: -25rem;
    }

    .total-price {
        margin-right: 27rem;
    }

    .cart-buttons {
        margin-right: 27rem;
    }

    .name-remove {
        margin-left: 9rem;
        margin-top: 6rem;
    }

    .quantity-field {
        margin-top: 1rem;
        margin-right: 12rem;
    }

    .cart-price {
        bottom: 61px;
    }

    .quantity-cart {
        margin-left: 65rem;
    }

    .top-line {
        width: 920px;
    }

    .product-cart {
        margin-left: 31rem;
    }

    .total-cart {
        margin-left: 80rem;
    }
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {
    .bottom-line {
        margin-left: 2rem;
    }

    .cart-buttons {
        margin-right: 7.5rem;
    }

    .total-price {
        margin-right: 8rem;
    }
}

@media screen and (min-width: 1600px) {
    .cart-titles {
        margin-left: 15rem;
    }

    .bottom-line {
        margin-left: 24rem;
    }

    .cart-buttons {
        margin-right: 34rem;
    }

    .total-price {
        margin-right: 25rem;
    }
}