.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-forms {
    width: 40rem;
}

.pay-btn {
    width: 120px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background: #000000;
    outline: none;
    cursor: pointer;
    margin-left: 16.2rem;
    margin-bottom: 1rem;
}

.home-btn{
    width: 120px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background: #000000;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 5.8rem;
}

.cart-total {
    margin-top: 1rem;
    font-family: "Raleway";
    font-weight: bold;
}

.delivery-address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    margin-bottom: 1rem;
    margin-right: 33rem;
}

.delivery-address-box {
    width: 40rem;
    height: 5rem;
}

@media (max-width: 768px) {
    .pay-btn {
        margin-left: 6.2rem;
        margin-bottom: 1rem;
    }

    .checkout-forms {
        width: 20rem;
    }

    .delivery-address-box {
        width: 20rem;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .checkout {
        min-height: 61vh;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    .checkout {
        min-height: 64vh;
    }
}