.toolbar {
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    height: 140px;
}

.toolbar__navigation {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.nav-title {
    width: 8em;
}

.nav-title:hover {
    opacity: 0.9;
}

.toolbar_navigation-items {
    margin-right: 0.5rem;
}

.toolbar_navigation-items ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 1rem;
}

.toolbar_navigation-items .link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.toolbar_navigation-items .link:hover,
.toolbar_navigation-items .link:active {
    color: #d48341;
}

@media (max-width: 768px) {
    .toolbar_navigation-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }
}